/*-- RSSS Front Style
--------------------------------------------*/
.clear{clear:both;} 
#rsss_sidebar iframe,#rsss_sidebar_hid iframe{margin-bottom:0;}
#rsss_sidebar{display:block; margin-left:-100px; position:absolute; float:left; border:1px solid #cccccc; padding:0px; background-color:#f4f4f4; text-align:center; width:78px; padding-bottom:6px; font-size:12px;border-radius:3px;} 
#rsss_sidebar .ss_sidebar_button{margin:7px 4px;} 
#rsss_sidebar .facebook_ss_sidebar{padding-left:2px;} 
#rsss_sidebar .ss_share_button{}
#rsss_sidebar .ss_share_button a{border:1px solid #cccccc; padding:2px; background-color:#e8e8e8; color:#258DB1; font-weight:bold; font-size:12px;}
#rsss_sidebar .ss_share_button a:hover{border:1px solid #cde3ea; background-color:#ffffff;}
#rsss_sidebar_hid .ss_share_button a{border:1px solid #cccccc; padding:2px; background-color:#e8e8e8; color:#258DB1; font-weight:bold; font-size:12px;}
#rsss_sidebar_hid .ss_share_button a:hover{border:1px solid #cde3ea; background-color:#ffffff;}
#rsss_sidebar_hid{display:none; padding-bottom:5px; line-height:14px; margin: 15px 0; font-size:12px;}
#rsss_sidebar_hid .ss_sidebar_button{float:left; margin:0 5px; padding-right:10px; margin-left:0; line-height: 20px;}
#rsss_sidebar_hid .ss_sidebar_twitter{margin-right:-4px;}
#rsss_sidebar_hid .ss_sidebar_facebooklike{margin-right:-4px;}
#rsss_sidebar_hid .ss_sidebar_digg{float: left; line-height: 20px;  padding-right: 5px; }
#rsss_sidebar_hid .ss_sidebar_linkedin{float: left; line-height: 20px;  padding-right: 5px; }
#rsss_sidebar_hid .ss_sidebar_reddit{float: left; line-height: 20px;  padding-right: 5px; }
#rsss_sidebar .ss_sidebar_button.pinterest_ss_sidebar{margin-top: 38px;}
a.rsss_ficon{background: none repeat scroll 0 0 #FFFFFF;border: 1px solid #CACACA; font-size: 8px; font-weight: bold; margin: 5px auto 0; outline: medium none; padding: 1px; text-decoration: none; width: 36px; } 

/*-- Responsive Structure
--------------------------------------------*/
@media (max-width: 450px){#rsss_sidebar_hid .ss_sidebar_button {display: inline; float: none; padding-right: 0;}} 
@media (max-width: 650px){#rsss_sidebar_hid .ss_sidebar_button {display: inline; float: none; padding-right: 0;}}
@media (max-width: 940px){#rsss_sidebar_hid .ss_sidebar_button {display: inline;float: none;padding-right: 0;}}

/*-----------------------------------------------------------------------------------------------------------------------------*/
